test*
other
driver
*user_data*
.vscode
*.ASC
__pycache__/
*.py[cod]
*$py.class
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
*.exe
.idea/
mian.build/
mian.dist/
main.onefile-build/
nuitka-crash-report.xml
*.mo
*.pot
*.log
.env
.venv
env/
venv/
stp.iss